
  body{
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.5rem;
  }
  .boxmid{
      width: 95vw;
      display: flex;
  }
.boxleft{
    width: 65%;
    position: relative;
    left: 13%;
}

.boxright{
   width: 35%;
   margin-top: 6%;
   position: relative;
   right: 7%;
}
.video__width{
    width: 100%;
}
.subcajaizq{
    margin: auto;
   display: block;
   width: 100%;
   height: 400px;
}
.imagen__zapa{
    width: 100%;
}
.subcajader{
    margin: auto;
   display: block;
   width: 100%;
   height: 400px;
   position: relative;
   right: 20%;
  
}
/* ISPA */
.presentacion--historia{
    text-align: center;
}
.presentacion{
    font-size: 2rem;
    border: 2px solid black;
    width: 1000px;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.historia{
    /* text-align: justify;
    width: 50%; */
    padding: 20px;
    margin: auto;
    
}
.historia--img{
    width: 70%;
}
/* Presentacion tarjetas/cajas */
.prueba{
    display: flex;
    background-color: rgb(250, 229, 201);
    width: 80%;
    margin: auto;
}
.caja{
    margin: 50px;
    padding: 65px;
    border:1px solid rgb(55, 4, 4);
    border-radius: 60%;
    width: 300px;
    background-color: white;
}
.caja--titulo{
   text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid black;
}
.caja--img{
    margin:0 auto;
    width: 300px;
    height: 200px;
    
}
.caja--texto{
    display: flex;
    border:1px solid rgb(55, 4, 4);
    width: 400px;
    padding: 40px;
    vertical-align: middle;
    height: 400px;
    margin-top: 10%;
    margin-left: 80px;
    background-color: white;
    
   
}
.historia p{
    width: 700px;
    margin: auto;
}
/* CAJA1 */
.caja1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.caja1 img{
    width: 100%;
}
.titulo1{
    font-size: 5rem;
}
/* pagina adidas yeezy */
.imagen__principal{
    text-align: center;
}
.seccion__historia{
    margin-top: 50px;
    margin-left: 20%;
   padding-left: 80px;
   padding-right: 80px;
   border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;
    width: 700px;

}
.seccion__historia--titulo{
    font-size: 3rem;
    font-style: italic;
    
    padding: 20px;
}
.primera__letra{
    color: rgb(252, 0, 0);
    font-size: 4rem;

}
/* PAgina Balenciaga */

.logo__balenciaga{
    margin: auto;
    width: 50%;
}
.logo__balenciaga img{
    width: 100%;
}
.banner__balenciaga{
    margin: auto;
    width: 100%;
}
.banner__balenciaga img{
    width: 100%;
}
.caja__balenciaga{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}
.caja__balenciaga p{
    width: 500px;
    margin: 40px;
}
.caja__zapa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.caja__zapa__balenciaga{
    width: 30%;
    

}
.caja__zapa__balenciaga img{
    width: 100%;
}
/* MENU */
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style-type: none;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu__item {
    margin: 10px;
    border: 1px solid rgb(119, 119, 119);
    padding: 5px;
    border-radius: 5px;
}
.menu__item:hover{
    background-color: rgb(184, 183, 183);
}
/* Formulario */
.form {
    width: 60%;
    margin: 50px auto;
}
.form__group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.form__input {
    border-radius: 5px;
}
.form__label{
    text-align: center;
}
/* Politica */
.politica{
    width: 800px;
    text-align: center;
}
.politica__titulo{
    font-size: 2rem;
    font-weight: bolder;
}